html {
    --bacground-color: #E8EDE7;
    --bacground-color-dark: #81BECE;
    --text-color: #036280;
}

body {
    color: var(--text-color);
    background-color: var(--bacground-color);
    font-size: 18px;
    padding: 10px;
}

[class*="__container"] {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    border-bottom: 1px solid #6a655d;
    padding: 10px 0;
    background-color: var(--bacground-color);
}

h1 {
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center; 
}

h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.page {
    padding-top: 80px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol {
    margin: 0 0 15px 25px;
}

li {
    list-style: decimal;
    padding: 10px;
}

li:hover  a{
    text-decoration: underline;
}

li:ho

li:not(:last-child) {
    margin-bottom: 8px;
}

p {
    margin-bottom: 8px;
}